<a href="https://colab.research.google.com/github/antonyfreitas/Python_Pandas-Antony.Freitas-Uniritter_Fapa/blob/main/Pandas_first.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Primeiro exemplo de manipulação de dados usando Python Pandas**

Autor: Antony Freitas

In [ ]:
!pip install pandas

In [ ]:
#importando biblionteca Pandas no Python
import pandas as pd

combustiveis_df = pd.read_excel("ca-2021-02.xlsx")

In [ ]:
display(combustiveis_df)

In [ ]:
#Exibe as primeiras 5 linhas
display(combustiveis_df.head())

In [ ]:
# Comandos Datafreme.shepe e Datafreme.describe()
print(combustiveis_df.shape)

In [ ]:
# Comandos Datafreme.shepe e Datafreme.describe()
print(combustiveis_df.describe())

In [ ]:
print(combustiveis_df.info())

In [ ]:
# Filtrar apenas por uma coluna
display(combustiveis_df['Revenda'].head(10))

In [ ]:
#Aqui criamos um novo dataframe apenas com as colunas que eu quero..
ca_df = combustiveis_df[['Revenda', 'Municipio', 'Produto', 'Valor de Venda']] 
display(ca_df)

In [31]:
#mostrar uma linha
display(ca_df.loc[3333])

Revenda           CASA AVENIDA COMERCIO DE COMBUSTIVEIS LTDA
Municipio                                 PARAGUACU PAULISTA
Produto                                   GASOLINA ADITIVADA
Valor de Venda                                         6.289
Name: 3333, dtype: object

In [38]:
# mostrar uma sequencia de linhas
display(ca_df[98:109])

,Revenda,Municipio,Produto,Valor de Venda
98,ECOPOSTOS - COMBUSTIVEIS E SERVICOS LTDA,SALVADOR,ETANOL,5.990
99,ECOPOSTOS - COMBUSTIVEIS E SERVICOS LTDA,SALVADOR,GASOLINA ADITIVADA,7.290
100,ECOPOSTOS - COMBUSTIVEIS E SERVICOS LTDA,SALVADOR,DIESEL S10,5.790
101,PACIFICO COMERCIO E SERVICOS DE COMBUSTIVEIS LTDA,SALVADOR,GASOLINA,6.890
102,PACIFICO COMERCIO E SERVICOS DE COMBUSTIVEIS LTDA,SALVADOR,ETANOL,5.490
103,PACIFICO COMERCIO E SERVICOS DE COMBUSTIVEIS LTDA,SALVADOR,GASOLINA ADITIVADA,6.990
104,PACIFICO COMERCIO E SERVICOS DE COMBUSTIVEIS LTDA,SALVADOR,DIESEL S10,5.790
105,LMT COMERCIO E SERVICOS LTDA,SALVADOR,GASOLINA,6.999
106,LMT COMERCIO E SERVICOS LTDA,SALVADOR,ETANOL,6.099
107,LMT COMERCIO E SERVICOS LTDA,SALVADOR,GASOLINA ADITIVADA,7.299
108,LMT COMERCIO E SERVICOS LTDA,SALVADOR,DIESEL S10,5.799

In [35]:
#Criar um Dataframe gas_df contendo apenas 4 colunas (revenda, municipio, Produto, Valor do Produto)
#Somente com combustivel sendo gasolina e exibir na tela
gas_df = ca_df.loc[ca_df['Produto'] == 'GASOLINA']

display(gas_df['Valor de Venda'].max())

7.999

In [37]:
display(gas_df[['Revenda', 'Municipio', 'Valor de Venda']].max())

Revenda           ZV POSTO DE SERVIÇO LTDA.
Municipio                           XANXERE
Valor de Venda                        7.999
dtype: object